@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    /* background-color: lightgrey; */
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: rgb(31, 148, 23);
    
    text-align: center;
    padding: 10px;
}
h2{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: rgb(31, 148, 23);
    
    text-align: center;
    padding: 10px;
}

nav{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;

    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 1.75rem;

}
a{
    color: rgb(31, 148, 23);
    padding: .5em;
    text-decoration: none;
}
a:hover{
    background-color: rgb(146, 238, 140);
    color: white;
    border-radius: 100px;

    /* transform: rotate(360deg) scale (2); */
}
  .ad-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .ad {
    width: 300px;
    height: 150px;
    background-color: rgb(103, 243, 142);
    border:rgb(31, 148, 23);
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: pulse 2s ease-in-out infinite;
  }
  
  .ad h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
   
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
.slogan{
    font-size: 2rem;
    padding: 1em;
}
p{
    padding: 3rem;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    padding: 20px;  

    position: fixed;
    bottom: 0;
    left: 0;
}



