@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: lightgrey;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: rgb(31, 148, 23);
    
    text-align: center;
    padding: 10px;
}
h2{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: rgb(31, 148, 23);
    
    text-align: center;
    padding: 10px;
}

nav{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;

    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 1.75rem;

}
a{
    color: rgb(31, 148, 23);
    padding: .5em;
    text-decoration: none;
}
a:hover{
    background-color: rgb(146, 238, 140);
    color: white;
    border-radius: 100px;

    /* transform: rotate(360deg) scale (2); */
}
.slogan{
    font-size: 2rem;
    padding: 1em;
}

h3{
    width: 100%;
    height: 100%;
    background-color: rgb(146, 238, 140);
    font-size: 25px;
    text-align: center;
    padding-right: 10px;
    padding-left: 16px;
    margin: 4em;
    padding: 1rem;

    animation: slide 5s infinite;

}
em{
    background-color:  rgb(146, 238, 140);
}

@keyframes slide {
    0% {
      transform: scale(2);
    }
  /*  Slide in transition period  */
    4% {
      opacity: 1;
      left: 0;
    }
  /*  Hold period  */
    25% {
      transform: scale(1);
      opacity: 1;
      left: 0;
    }
  }
/* @keyframes grow{
    to{
        width: 800px;
        height: 100px;
    }from{

    }
} */

p{
    padding: 10px;
    
    display:flex;
    justify-content: center;
    align-items: center;
}



