@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
}
.back-footer{
    padding: 1rem;
    position: absolute;
    bottom: 0;
}



