/*help with code from @sujeet on codepen */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: rgb(31, 148, 23);
    
    text-align: center;
    padding: 10px;
} */

html{
    background: #098f24 ;    
}

.layout {
    margin: 0 auto;	
    max-width: 1170px;	
    width: 100%;
    padding: 0 15px;
    
}
/********Grid Width *******/

.form-group{ 
    float:left;    
    padding-left: 15px;    
    padding-right: 15px;       
    width: 50%;
}
.grid-8{
    width: 66.6667%;
}
.grid-12{
    width: 100%;
    padding-left: 15px;	
    padding-right: 15px;	
    
    position: relative;    
    overflow: hidden;
}	


/***Section Css******/

section {    
    background: #098f24 ;    
    color: #000;    
    padding: 30px 0;
}
.text-center{
    text-align:center;
}
.section-title {    
    color: #fff;    
    font-family: 'Bebas Neue', cursive;

    font-size: 4rem;
    
    font-weight: bold;    
    text-transform: uppercase;
}
.contact p {    
    color: #929292;    
    letter-spacing: 1.5px;    
    padding-top: 50px;
}
.form{ 
    margin:0 auto;
}
.form form {    
    margin-top: 50px;
}
input {    
    width: 100%;
}
.form-control {    
    width: 100%;
}
.form-control {    
    background-color: #fff;    
    border: 1px solid #ccc;    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;    
    
    display: block;    
    font-size: 14px;     
    line-height: 1.42857;    
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;    
    
    width: 100%;
	text-transform: capitalize;
}

.costom-btn {    
    background: white;    
    border: 1px solid #0b6645;    
    color: rgb(31, 148, 23);
    font: bold 16px/18px "Open Sans",sans-serif;    letter-spacing: 1.5px;    
    text-transform: uppercase;
    width: 100%;	   
    padding: 6px 12px;	   
    cursor: pointer;
}
.form-group {    
    margin-top: 23px;
}
.icon-text {    
    color: rgb(31, 148, 23);
    font: 16px/22px "Open Sans",sans-serif;    

    text-align: center;
    text-transform: uppercase;	 
    margin: 25px 0;
}
.icon-holder {    
    margin: 0 auto;    
    width: 265px;
}
.icon-holder ul li a {    
    color: #ffffff;    
    height: 38px;    
    width: 38px;
}
.icon-holder ul li {    
    display: inline;    
    padding: 12px;
}
@media (max-width:980px) {
	.layout {				
        width: 80%px;	
    }
	.grid-6 {				
        width: 50%;	
    }
}
@media (max-width:640px) {
	.layout {		
        width: 80%;	
    }
	.form-group, .grid-8 {		
        width: 100%;	
    }
}
a{
    text-decoration: none;
    color: white;
}
footer{
    width: 100%;
    padding: 20px;  

    position: fixed;
    bottom: 0;
    left: 0;
}
